html{
    box-sizing: border-box;
}
*, ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    @include column;
    min-height: 100vh;
    padding: 0 0 80px 0;
    font-family: 'Roboto', sans-serif;
    @media(max-width: 784px) {
        padding: 0;
    }
}