$sign :#f89b57;
$signbor :#f86902;
$signback :#fff3ea;
$log :#7fdc30;
$logbor :#50ac00;
$logback :#eeffdf;
$dark :#171717;
$backg :#a7a7a7;
$backgr :#f8f8f8;
$light : rgb(240, 240, 240);
$header : rgb(190, 190, 190);
$white : #fff;
$valid : #00da00;
$invalid : #ee0000;